:root {
  --primary-text-color: #2196f3;
  --accent-color: #212121;
  --brand-color: #ffffff;
  --back-color: #757575;
  --background-color: #2f303a;
  --color-backs: rgba(255, 255, 255, 0.6);
  --color-titel: #e5e5e5;
  --color-brand: #f5f4fa;
  --color-strip: #eeeeee;
  --color-border: #ececec;
  --color-fill: rgba(245, 244, 250, 1);
  --fill-color: #afb1b8;
  --color-grey: rgba(47, 48, 58, 0.4);
  --color-white: rgba(255, 255, 255, 0.1);
  --color-gradient: #c4c4c4;
  --border-blu: #188ce8;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

p {
  display: block;
  margin: 0;
  padding: 0;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    width: 100%;
    background: var(--brand-color);
    border-bottom: 1px solid var(--color-border);
  }
  .navigation {
    width: 479px;
    padding: 10px 0;
    font-family: Raleway, cursive;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    border-bottom: 1px solid var(--color-border);
  }
  .navigation__logo-web {
    color: var(--primary-text-color);
  }
  .navigation__logo-studio {
    color: var(--accent-color);
  }
  .navigation__list {
    display: none;
  }
  .navigation__mobile-button {
    border: none;
    background-color: transparent;
    margin-left: 276px;
  }
  .navigation__mobile-button:hover, .navigation__mobile-button:focus {
    fill: var(--primary-text-color);
  }
  .contacts {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    position: relative;
    width: 100%;
    background: var(--background-color);
    text-align: center;
    padding: 200px 0;
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
  }
  .hero__div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--brand-color);
  }
  .hero__button-form {
    padding: 10px 32px 10px 32px;
    max-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--brand-color);
    background-color: var(--primary-text-color);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .qualities {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .qualities__antenna, .qualities__clock, .qualities__diagram, .qualities__astronaut {
    width: 70px;
    height: 70px;
  }
  .qualities__div-antenna, .qualities__div-clock, .qualities__div-diagram, .qualities__div-astronaut {
    background: var(--color-fill);
    border-radius: 4px;
    padding: 25px 192px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .qualities__item:not(:first-child) {
    margin-top: 30px;
  }
  .qualities__hdr {
    padding-top: 30px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
  }
  .qualities__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--back-color);
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .tasks {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--color-brand);
  }
  .team__img {
    width: 450px;
    height: 460px;
  }
  .team__hdr {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 30px;
  }
  .team__person-hdr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    padding-top: 30px;
  }
  .team__item-wrapper {
    padding: 30px 122px 24px 122px;
    background: var(--brand-color);
  }
  .team__list .team__item {
    margin-top: 30px;
  }
  .team__list .team__item {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 16px;
  }
  .social__list .social__item:not(:last-child) {
    margin-right: 10px;
  }
  .social__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background-color: var(--brand-color);
    fill: var(--fill-color);
    cursor: pointer;
  }
  .social__link:hover {
    background: var(--primary-text-color);
    fill: var(--brand-color);
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
}

@media screen and (max-width: 767px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__hdr {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding-top: 30px;
  }
  .clients__list .clients__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px 52px;
    fill: var(--fill-color);
  }
  .clients__list .clients__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 25px;
    margin-top: 30px;
    width: 210px;
    height: 92px;
    border: 1px solid var(--fill-color);
    border-radius: 4px;
  }
  .clients__list .clients__item:hover,
  .clients__list .clients__item:focus {
    border-color: var(--primary-text-color);
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .clients__list .clients__link:hover,
  .clients__list .clients__link:focus {
    fill: var(--primary-text-color);
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
}

@media screen and (max-width: 767px) {
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--background-color);
  }
  .ftr-contacts__logotype {
    font-family: Raleway, cursive;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    display: block;
  }
  .ftr-contacts__logo-web {
    color: var(--primary-text-color);
  }
  .ftr-contacts__logo-studio {
    color: var(--brand-color);
  }
  .address__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color);
  }
  .address__inform {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-backs);
  }
  .address__list {
    text-align: center;
  }
  .address__list .address__item {
    margin-top: 8px;
  }
  .ftr-social__hdr {
    margin-top: 60px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
  }
  .ftr-social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  .ftr-social__list .ftr-social__item:not(:last-child) {
    margin-right: 10px;
  }
  .ftr-social__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--brand-color);
    cursor: pointer;
  }
  .ftr-social__link:hover {
    background: var(--primary-text-color);
    fill: var(--brand-color);
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }
  .subscribe-div {
    margin-top: 60px;
  }
  .subscribe-div__hdr {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
  }
  .subscribe-div__input {
    vertical-align: middle;
    margin-top: 20px;
    padding: 16px;
    width: 358px;
    height: 50px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--color-backs);
    background-color: var(--background-color);
  }
  .subscribe-div__btn {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-style: none;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    font-weight: bold;
    color: var(--brand-color);
    background: var(--primary-text-color);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  .subscribe-div__icon {
    vertical-align: middle;
    margin-left: 10px;
    fill: var(--brand-color);
  }
}
/*# sourceMappingURL=main.css.map */