body {
   font-family: "Roboto", sans-serif; 
   color: #212121;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

p {
  display: block;
}

.section {
  padding: 94px 0;
}