.backdrop {
  position: fixed;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background: var(--brand-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button__backdrop {
  position: absolute;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: var(--brand-color);
  border: 1px solid rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); 

  cursor: pointer;


.icon__is {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
  fill: var(--primary-text-color);
  
   }
 }
}


textarea {
  resize: none;
  outline: none;
}

input {
  outline: none;
}

.modal__is {
  font-weight: bold;
  text-align: center;

  font-size: 20px;
  margin-bottom: 12px;

  line-height: 1.15;
  letter-spacing: 0.05em;

  color: var(--accent-color);
}

.form {
  margin-left: 41px;
  margin-right: 39px;
  margin-top: 40px;
}

.form__label {
  display: flex;
  flex-direction: column;
  position: relative;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;
}

.form__text {
  font-size: 12px;
  line-height: 1.16;

  margin-bottom: 4px;
  letter-spacing: 0.01em;

  color: var(--back-color);
}

.form__input {
  width: 448px;
  height: 40px;
  padding-left: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.form__label:hover,
.form__input:hover {
  fill: var(--primary-text-color);
  border-color: var(--primary-text-color);
}

.comment {
  width: 448px;
  height: 120px;
  padding: 16px 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment:focus{
  border-color: var(--primary-text-color);
}

.icon {
  position: absolute;

  top: 28px;
  left: 15px;

  cursor: pointer;
}

.checkbox {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);

  overflow: hidden;
}

.check__box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

.icon__chec {
  display: inline-block;

  width: 16px;
  height: 15px;

  border: 2px solid #2a2a2a;
  border-radius: 2px;
}

.checkbox:checked + .icon__chec {
  background-size: contain;

  background-repeat: no-repeat;
  background-position: center;

  background-origin: border-box;

  border-color: var(--primary-text-color);
  background-color: var(--primary-text-color);

  background-image: url(../images/vektor-one.svg);
}

.chek__1 {
  display: inline-block;
  margin-left: 5px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--back-color);
}

.chek__2 {
  margin-left: 5px;
  color: var(--primary-text-color);
}

.submit__button {
  display: block;
  font-weight: bold;

  margin: 0 auto;
  margin-top: 30px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--brand-color);
  background-color: var(--primary-text-color);

  width: 200px;
  height: 50px;

  border-radius: 4px;

  cursor: pointer;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit__button:hover {
  background-color: var(--border-blu);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
