.tasks{

  &__hdr {
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--accent-color); 

  margin-bottom: 50px;
  }

  &__list {
     display: flex;  

 & .tasks__item:not(:last-child) {
  margin-right: 30px;
    }
  }

  & .tasks__item  {
    position: relative;
  }

  & .span {
  position: absolute;
  text-align: center;

  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  width: 100%;
  padding: 27px 0;
  bottom: 0;
  left: 0;

  color: var(--brand-color);
  background: rgba(47, 48, 58, 0.8);
  }
}