.team {
  background: var(--color-brand);

  &__hdr {
  font-weight: bold;
  text-align: center;

  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--accent-color);

   margin-bottom: 50px;

  }

  &__person{

     &-hdr {
  text-align: center;

  margin-bottom: 10px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--accent-color);  
   }

   &-dscrpt{
  text-align: center;

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--back-color);
   }
}

&__item-wrapper{
   padding: 30px 0;
}
   
&__list {
   display: flex;
   
   & .team__item:not(:last-child) {
  margin-right: 30px;
   }

   & .team__item{
  background: var(--brand-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px; 
    }
  } 
}

.social{

   &__list{
  display: flex;
  justify-content: center;

  margin-top: 16px;

  &.social__item:not(:last-child) {
  margin-right: 10px;
   }
 }

 &__link{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;

  background-color: var(--brand-color);
  fill: var(--fill-color);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
  background-color: var(--primary-text-color);
  fill: var(--brand-color);
    }
  }
}


